{% extends "layout.html.twig" %}
{% block content %}
    <style type="text/css">
    .team.team_circle .image_frame.photo {
        width: 180px;
        height: 180px;
    }
    </style>
	<div id="Header_wrapper">
        <header id="Header">
            <div class="header_placeholder"></div>
            <div id="Top_bar">
                <div class="container">
                    <div class="column one">
                        <div class="top_bar_left clearfix">
                            {{ include('nav.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div id="Content">
        <div class="content_wrapper clearfix">
            <div class="sections_group">
                <div class="entry-content">
                    <div class="section mcb-section" style="padding-top:110px; padding-bottom:70px; background-image:url('{{asset('images/ays-gal/menu-bg-001.jpg')}}'); background-repeat:no-repeat; background-position:center top; background-size: cover;">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap one-fifth  column-margin-0px valign-top clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_placeholder">
                                        <div class="placeholder">
                                            &nbsp;
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap one  valign-top clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_column">
                                        <div class="column_attr clearfix">
                                            <h2 style="text-align: center;">Colaboradores</h2>
                                            <h6 style="letter-spacing: 4px; text-align:center">EL EQUIPO</h6>
                                            <hr class="no_line" style="border-top: 0; margin: 0 auto 10px">
                                            <hr class="no_line" style="border-top: 0; margin: 0 auto 40px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column mcb-column one">
                                <!-- 1 -->
                                <div class="column mcb-column one-fourth column_our_team ">
                                    <div class="team team_circle">
                                        <div class="image_frame photo no_link scale-with-grid">
                                            <div class="image_wrapper">
                                                <img class="scale-with-grid" src="{{asset('images/team-square/aguasysal-team000.jpg')}}" alt="img">
                                            </div>
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4>Juan Carlos Ramírez</h4>
                                            <p class="subtitle">
                                                Chef de Cocina
                                            </p>
                                            <hr class="hr_color">
                                        </div>
                                    </div>
                                </div>
                                <!-- 2 -->
                                <div class="column mcb-column one-fourth column_our_team ">
                                    <div class="team team_circle">
                                        <div class="image_frame photo no_link scale-with-grid">
                                            <div class="image_wrapper">
                                                <img class="scale-with-grid" src="{{asset('images/team-square/aguasysal-team007.jpg')}}" alt="img">
                                            </div>
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4>Pedro Urbano</h4>
                                            <p class="subtitle">
                                                Sub-Chef Cocina Caliente
                                            </p>
                                            <hr class="hr_color">
                                        </div>
                                    </div>
                                </div>
                                <!-- 3 -->
                                <div class="column mcb-column one-fourth column_our_team ">
                                    <div class="team team_circle">
                                        <div class="image_frame photo no_link scale-with-grid">
                                            <div class="image_wrapper">
                                                <img class="scale-with-grid" src="{{asset('images/team-square/aguasysal-team003.jpg')}}" alt="img">
                                            </div>
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4>Francisco Miramón</h4>
                                            <p class="subtitle">
                                                Sub-Chef Cocina de Fría
                                            </p>
                                            <hr class="hr_color">
                                        </div>
                                    </div>
                                </div>
                                <!-- 4 -->
                                <div class="column mcb-column one-fourth column_our_team ">
                                    <div class="team team_circle">
                                        <div class="image_frame photo no_link scale-with-grid">
                                            <div class="image_wrapper">
                                                <img class="scale-with-grid" src="{{asset('images/team-square/aguasysal-team002.jpg')}}" alt="img">
                                            </div>
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4>Lizethe Robles</h4>
                                            <p class="subtitle">
                                                Cocina Fría
                                            </p>
                                            <hr class="hr_color">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column mcb-column one">
                                <!-- 5 -->
                                <div class="column mcb-column one-fourth column_our_team ">
                                    <div class="team team_circle">
                                        <div class="image_frame photo no_link scale-with-grid">
                                            <div class="image_wrapper">
                                                <img class="scale-with-grid" src="{{asset('images/team-square/aguasysal-team004.jpg')}}" alt="img">
                                            </div>
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4>Gracia Repizo</h4>
                                            <p class="subtitle">
                                                Cocina Fría
                                            </p>
                                            <hr class="hr_color">
                                        </div>
                                    </div>
                                </div>
                                <!-- 6 -->
                                <div class="column mcb-column one-fourth column_our_team ">
                                    <div class="team team_circle">
                                        <div class="image_frame photo no_link scale-with-grid">
                                            <div class="image_wrapper">
                                                <img class="scale-with-grid" src="{{asset('images/team-square/aguasysal-team005.jpg')}}" alt="img">
                                            </div>
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4>Fernanda Pérez</h4>
                                            <p class="subtitle">
                                                Postres
                                            </p>
                                            <hr class="hr_color">
                                        </div>
                                    </div>
                                </div>
                                <!-- 7 -->
                                <div class="column mcb-column one-fourth column_our_team ">
                                    <div class="team team_circle">
                                        <div class="image_frame photo no_link scale-with-grid">
                                            <div class="image_wrapper">
                                                <img class="scale-with-grid" src="{{asset('images/team-square/aguasysal-team009.jpg')}}" alt="img">
                                            </div>
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4>José Celso</h4>
                                            <p class="subtitle">
                                                Cocina Caliente
                                            </p>
                                            <hr class="hr_color">
                                        </div>
                                    </div>
                                </div>
                                <!-- 8 -->
                                <div class="column mcb-column one-fourth column_our_team ">
                                    <div class="team team_circle">
                                        <div class="image_frame photo no_link scale-with-grid">
                                            <div class="image_wrapper">
                                                <img class="scale-with-grid" src="{{asset('images/team-square/aguasysal-team020.jpg')}}" alt="img">
                                            </div>
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4>Nicolás Antonio</h4>
                                            <p class="subtitle">
                                                Cocina Caliente
                                            </p>
                                            <hr class="hr_color">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column mcb-column one">
                                <!-- 9  -->
                                <div class="column mcb-column one column_our_team ">
                                    <div class="team team_circle">
                                        <div class="image_frame photo no_link scale-with-grid">
                                            <div class="image_wrapper">
                                                <img class="scale-with-grid" src="{{asset('images/team-square/aguasysal-team019.jpg')}}" alt="img">
                                            </div>
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4>José Ramírez</h4>
                                            <p class="subtitle">
                                                Cocina
                                            </p>
                                            <hr class="hr_color">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one-fourth column_our_team ">
                                    
                                </div>
                            </div>
                            <div class="column mcb-column one">
                                <!-- 11 -->
                                <div class="column mcb-column one-fourth column_our_team ">
                                    <div class="team team_circle">
                                        <div class="image_frame photo no_link scale-with-grid">
                                            <div class="image_wrapper">
                                                <img class="scale-with-grid" src="{{asset('images/team-square/aguasysal-team001.jpg')}}" alt="img">
                                            </div>
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4>Arturo Camargo</h4>
                                            <p class="subtitle">
                                                Supervisor
                                            </p>
                                            <hr class="hr_color">
                                        </div>
                                    </div>
                                </div>
                                <!-- 12 -->
                                <div class="column mcb-column one-fourth column_our_team ">
                                    <div class="team team_circle">
                                        <div class="image_frame photo no_link scale-with-grid">
                                            <div class="image_wrapper">
                                                <img class="scale-with-grid" src="{{asset('images/team-square/aguasysal-team006.jpg')}}" alt="img">
                                            </div>
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4>Carlos Martínez</h4>
                                            <p class="subtitle">
                                                Bartender
                                            </p>
                                            <hr class="hr_color">
                                        </div>
                                    </div>
                                </div>
                                <!-- 13 -->
                                <div class="column mcb-column one-fourth column_our_team ">
                                    <div class="team team_circle">
                                        <div class="image_frame photo no_link scale-with-grid">
                                            <div class="image_wrapper">
                                                <img class="scale-with-grid" src="{{asset('images/team-square/aguasysal-team013.jpg')}}" alt="img">
                                            </div>
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4>Omar Mendez</h4>
                                            <p class="subtitle">
                                                Mesero
                                            </p>
                                            <hr class="hr_color">
                                        </div>
                                    </div>
                                </div>
                                <!-- 14 -->
                                <div class="column mcb-column one-fourth column_our_team ">
                                    <div class="team team_circle">
                                        <div class="image_frame photo no_link scale-with-grid">
                                            <div class="image_wrapper">
                                                <img class="scale-with-grid" src="{{asset('images/team-square/aguasysal-team011.jpg')}}" alt="img">
                                            </div>
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4>Iván García</h4>
                                            <p class="subtitle">
                                                Mesero
                                            </p>
                                            <hr class="hr_color">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column mcb-column one">
                                <!-- 15 -->
                                <div class="column mcb-column one-fourth column_our_team ">
                                    <div class="team team_circle">
                                        <div class="image_frame photo no_link scale-with-grid">
                                            <div class="image_wrapper">
                                                <img class="scale-with-grid" src="{{asset('images/team-square/aguasysal-team012.jpg')}}" alt="img">
                                            </div>
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4>José María Guerrero</h4>
                                            <p class="subtitle">
                                                Mesero
                                            </p>
                                            <hr class="hr_color">
                                        </div>
                                    </div>
                                </div>
                                <!-- 16 -->
                                <div class="column mcb-column one-fourth column_our_team ">
                                    <div class="team team_circle">
                                        <div class="image_frame photo no_link scale-with-grid">
                                            <div class="image_wrapper">
                                                <img class="scale-with-grid" src="{{asset('images/team-square/aguasysal-team016.jpg')}}" alt="img">
                                            </div>
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4>Alejandro Negrete</h4>
                                            <p class="subtitle">
                                                Mesero
                                            </p>
                                            <hr class="hr_color">
                                        </div>
                                    </div>
                                </div>
                                <!-- 17 -->
                                <div class="column mcb-column one-fourth column_our_team ">
                                    <div class="team team_circle">
                                        <div class="image_frame photo no_link scale-with-grid">
                                            <div class="image_wrapper">
                                                <img class="scale-with-grid" src="{{asset('images/team-square/aguasysal-team014.jpg')}}" alt="img">
                                            </div>
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4>José Ángel Ramírez</h4>
                                            <p class="subtitle">
                                                Mesero
                                            </p>
                                            <hr class="hr_color">
                                        </div>
                                    </div>
                                </div>
                                <!-- 18 -->
                                <div class="column mcb-column one-fourth column_our_team ">
                                    <div class="team team_circle">
                                        <div class="image_frame photo no_link scale-with-grid">
                                            <div class="image_wrapper">
                                                <img class="scale-with-grid" src="{{asset('images/team-square/aguasysal-team018.jpg')}}" alt="img">
                                            </div>
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4>Alexis Muñoz</h4>
                                            <p class="subtitle">
                                                Ayudante de Mesero
                                            </p>
                                            <hr class="hr_color">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column mcb-column one">
                                <div class="column mcb-column one column_our_team">
                                    <div class="team team_circle" >
                                        <div class="image_frame photo no_link scale-with-grid">
                                            <div class="image_wrapper">
                                                <img class="scale-with-grid" src="{{asset('images/team-square/aguasysal-team017.jpg')}}" alt="img">
                                            </div>
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4>Mayra Lucas</h4>
                                            <p class="subtitle">
                                                Administración
                                            </p>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
	<script src="{{asset('js/jquery-2.1.4.min.js')}}"></script>

    <script src="{{asset('js/mfn.menu.js')}}"></script>
    <script src="{{asset('js/jquery.plugins.js')}}"></script>
    <script src="{{asset('js/jquery.jplayer.min.js')}}"></script>
    <script src="{{asset('js/animations/animations.js')}}"></script>
    <script src="{{asset('js/translate3d.js')}}"></script>
    <script src="{{asset('js/scripts.js')}}"></script>

    <script src="{{asset('plugins/rs-plugin/js/jquery.themepunch.tools.min.js')}}"></script>
    <script src="{{asset('plugins/rs-plugin/js/jquery.themepunch.revolution.min.js')}}"></script>

{% endblock %}