{% extends "layout.html.twig" %}
{% block content %}
	<div id="Header_wrapper">
        <header id="Header">
            <div class="header_placeholder"></div>
            <div id="Top_bar">
                <div class="container">
                    <div class="column one">
                        <div class="top_bar_left clearfix">
                            {{ include('nav.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div id="Subheader" style="padding:70px 0;">
            <div class="container">
                <div class="column one">
                    <h1 class="title" style="font-size: 40px;">ESPECIALIDADES</h1>
                    <hr class="no_line" style="margin: 0 auto 20px">
                    <h5 style="text-align: center">
                    	Los sabores, formas y texturas que conforman nuestra carta son<br>
	                    el resultado de la pasión y larga experiencia<br>
	                    en la industria gastronómica
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div id="Content">
        <div class="content_wrapper clearfix">
            <div class="sections_group">
                <div class="section ">
                    <div class="section_wrapper clearfix">
                        <div class="column one column_blog">
                            <div class="blog_wrapper isotope_wrapper">
                                <div class="posts_group lm_wrapper classic col-3">
                                    <div class="post-item isotope-item clearfix post type-post format-standard has-post-thumbnail hentry">
                                        
                                        <div class="image_frame post-photo-wrapper scale-with-grid image">
                                            <div class="image_wrapper">
                                                <a href="item.html">
                                                    <div class="mask"></div><img width="960" height="688" src="{{asset('images/ays-gal/arroz_mariscos.jpg')}}" class="scale-with-grid wp-post-image" alt="" />
                                                </a>
                                                <div class="image_links">
                                                    <a href="{{asset('images/ays-gal/arroz_mariscos.jpg')}}" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-desc-wrapper">
                                            <div class="post-desc">
                                                
                                                <div class="post-title">
                                                    <h4 class="entry-title" itemprop="headline">ARROZ CON MARISCOS</h4>
                                                </div>
                                                <div class="post-excerpt">
                                                    <p class="big">
                                                        Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque, ac ele molestie id viverra aifend.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-item isotope-item clearfix post type-post format-standard has-post-thumbnail hentry">
                                        
                                        <div class="image_frame post-photo-wrapper scale-with-grid image">
                                            <div class="image_wrapper">
                                                <a href="item.html">
                                                    <div class="mask"></div><img width="960" height="688" src="{{asset('images/ays-gal/cebiche_peruano.jpg')}}" class="scale-with-grid wp-post-image" alt="" />
                                                </a>
                                                <div class="image_links">
                                                    <a href="{{asset('images/ays-gal/cebiche_peruano.jpg')}}" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-desc-wrapper">
                                            <div class="post-desc">
                                                
                                                <div class="post-title">
                                                    <h4 class="entry-title" itemprop="headline">CEBICHE PERUANO</h4>
                                                </div>
                                                <div class="post-excerpt">
                                                    <p class="big">
                                                        Magna tincidunt fermentum. Aliquam erat velit vel pulvinar sed, urna. Nunc vitae lacus. Phasellus in quam. Aliquam risus eu libero. Donec nonummy auctor non, porttitor varius. Ut lorem.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-item isotope-item clearfix post type-post format-standard has-post-thumbnail hentry">
                                        
                                        <div class="image_frame post-photo-wrapper scale-with-grid image">
                                            <div class="image_wrapper">
                                                <a href="item.html">
                                                    <div class="mask"></div><img width="960" height="688" src="{{asset('images/ays-gal/aguachile_negro.jpg')}}" class="scale-with-grid wp-post-image" alt="" />
                                                </a>
                                                <div class="image_links">
                                                    <a href="{{asset('images/ays-gal/aguachile_negro.jpg')}}" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-desc-wrapper">
                                            <div class="post-desc">
                                                
                                                <div class="post-title">
                                                    <h4 class="entry-title" itemprop="headline">AGUACHILE NEGRO</h4>
                                                </div>
                                                <div class="post-excerpt">
                                                    <p class="big">
                                                        Etiam condimentum faucibus eros sed condimentum odio nec leo. Aliquam quis metus. Aenean pellentesque ligula. Cras eu lectus sit amet consectetuer.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-item isotope-item clearfix post type-post format-standard has-post-thumbnail hentry">
                                        
                                        <div class="image_frame post-photo-wrapper scale-with-grid image">
                                            <div class="image_wrapper">
                                                <a href="item.html">
                                                    <div class="mask"></div><img width="960" height="688" src="{{ asset('images/ays-gal//ensalada_pulpo.jpg')}}" class="scale-with-grid wp-post-image" alt="" />
                                                </a>
                                                <div class="image_links">
                                                    <a href="{{ asset('images/ays-gal//ensalada_pulpo.jpg')}}" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-desc-wrapper">
                                            <div class="post-desc">
                                                
                                                <div class="post-title">
                                                    <h4 class="entry-title" itemprop="headline">CÓCTEL DE PULPO</h4>
                                                </div>
                                                <div class="post-excerpt">
                                                    <p class="big">
                                                        Etiam ut felis et nisi sagittis posuere. Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque, ac ele molestie id viverra aifend ante lobortis id. In viverra ipsum stie id viverra molestie id viverra.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
	<script src="{{asset('js/jquery-2.1.4.min.js')}}"></script>

    <script src="{{asset('js/mfn.menu.js')}}"></script>
    <script src="{{asset('js/jquery.plugins.js')}}"></script>
    <script src="{{asset('js/jquery.jplayer.min.js')}}"></script>
    <script src="{{asset('js/animations/animations.js')}}"></script>
    <script src="{{asset('js/translate3d.js')}}"></script>
    <script src="{{asset('js/scripts.js')}}"></script>
{% endblock %}	
