{% extends "layout.html.twig" %}
{% block content %}
	<div id="Header_wrapper">
        <header id="Header">
            <div class="header_placeholder"></div>
            <div id="Top_bar">
                <div class="container">
                    <div class="column one">
                        <div class="top_bar_left clearfix">
                            {{ include('nav.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </header>

    </div>
    <div id="Content">
        <div class="content_wrapper clearfix">
            <div class="sections_group" style="padding-top:110px; padding-bottom:70px; background-image:url('{{asset('images/ays-gal/menu-bg-001.jpg')}}'); background-repeat:no-repeat; background-position:center top; background-size: cover; background-attachment: fixed;">
                <div class="section ">
                    <div class="section_wrapper clearfix">
                        <div class="column one column_blog">
                            <h1 class="title" style="font-size: 40px; text-align: center">ESPECIALIDADES</h1>
                            <hr class="no_line" style="margin: 0 auto 20px">
                            <h5 style="text-align: center">
                                Los sabores, formas y texturas que conforman nuestra carta son<br>
                                el resultado de la pasión y larga experiencia<br>
                                en la industria gastronómica
                            </h5>
                            <hr class="no_line" style="margin: 0 auto 40px">
                            <div class="blog_wrapper isotope_wrapper">
                                <div class="posts_group lm_wrapper classic col-3">
                                    <div class="post-item isotope-item clearfix post type-post format-standard has-post-thumbnail hentry">
                                        
                                        <div class="image_frame post-photo-wrapper scale-with-grid image">
                                            <div class="image_wrapper">
                                                <div class="mask"></div><img width="960" height="688" src="{{asset('images/ays-gal/cebiche-peruano.jpg')}}" class="scale-with-grid wp-post-image" alt="" />
                                                <div class="image_links">
                                                    <a href="{{asset('images/ays-gal/cebiche-peruano.jpg')}}" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-desc-wrapper">
                                            <div class="post-desc">
                                                <div class="post-title">
                                                    <h4 class="entry-title" itemprop="headline">CEBICHE PERUANO</h4>
                                                </div>
                                                <div class="post-excerpt">
                                                    <p class="big">
                                                        Pesca del día (150 grs) en leche de tigre clásica, chile habanero, cebolla morada y cilantro acompañado de choclo, cancha y camote con un toque de sal rosada de los Andes peruanos.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-item isotope-item clearfix post type-post format-standard has-post-thumbnail hentry">
                                        
                                        <div class="image_frame post-photo-wrapper scale-with-grid image">
                                            <div class="image_wrapper">
                                                <div class="mask"></div><img width="960" height="688" src="{{asset('images/ays-gal/cebiche-lena.jpg')}}" class="scale-with-grid wp-post-image" alt="" />
                                                <div class="image_links">
                                                    <a href="{{asset('images/ays-gal/cebiche-lena.jpg')}}" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-desc-wrapper">
                                            <div class="post-desc">
                                                <div class="post-title">
                                                    <h4 class="entry-title" itemprop="headline">CEBICHE A LA LEÑA</h4>
                                                </div>
                                                <div class="post-excerpt">
                                                    <p class="big">
                                                        Pesca del día y camarón (150 grs) en salsa de chile rayado, cebolla morada, cilantro y chile cuaresmeño acompañado de esquites asados con un toque de sal ahumada de Alderwood.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-item isotope-item clearfix post type-post format-standard has-post-thumbnail hentry">
                                        
                                        <div class="image_frame post-photo-wrapper scale-with-grid image">
                                            <div class="image_wrapper">
                                                <div class="mask"></div><img width="960" height="688" src="{{asset('images/ays-gal/cebiche-tatemado.jpg')}}" class="scale-with-grid wp-post-image" alt="" />
                                                <div class="image_links">
                                                    <a href="{{asset('images/ays-gal/cebiche-tatemado.jpg')}}" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-desc-wrapper">
                                            <div class="post-desc">
                                                
                                                <div class="post-title">
                                                    <h4 class="entry-title" itemprop="headline">CEBICHE TATEMADO</h4>
                                                </div>
                                                <div class="post-excerpt">
                                                    <p class="big">
                                                        Pesca del día, camarón y pulpo (150 grs) en salsa de chile chilhuacle tatemado, yuzu, cebolla cambray, aguacate y rábano sandia con un toque de sal negra de Hawái.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-item isotope-item clearfix post type-post format-standard has-post-thumbnail hentry">
                                        
                                        <div class="image_frame post-photo-wrapper scale-with-grid image">
                                            <div class="image_wrapper">
                                                <div class="mask"></div><img width="960" height="688" src="{{ asset('images/ays-gal//esquites-camarones.jpg')}}" class="scale-with-grid wp-post-image" alt="" />
                                                <div class="image_links">
                                                    <a href="{{ asset('images/ays-gal//esquites-camarones.jpg')}}" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-desc-wrapper">
                                            <div class="post-desc">
                                                
                                                <div class="post-title">
                                                    <h4 class="entry-title" itemprop="headline">ESQUITES CON CAMARONES</h4>
                                                </div>
                                                <div class="post-excerpt">
                                                    <p class="big">
                                                        Camarón, mayonesa, epazote, queso Cotija, chile piquín y un toque de limón.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-item isotope-item clearfix post type-post format-standard has-post-thumbnail hentry">
                                        
                                        <div class="image_frame post-photo-wrapper scale-with-grid image">
                                            <div class="image_wrapper">
                                                <div class="mask"></div><img width="960" height="688" src="{{asset('images/ays-gal/trucha-miso.jpg')}}" class="scale-with-grid wp-post-image" alt="" />
                                                <div class="image_links">
                                                    <a href="{{asset('images/ays-gal/trucha-miso.jpg')}}" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-desc-wrapper">
                                            <div class="post-desc">
                                                <div class="post-title">
                                                    <h4 class="entry-title" itemprop="headline">TRUCHA CON MISO</h4>
                                                </div>
                                                <div class="post-excerpt">
                                                    <p class="big">
                                                        Filete de trucha salmonada (200 grs) en salsa de miso, teriyaki y jengibre acompañado de puré de papa, zanahoria y bok choy.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
	<script src="{{asset('js/jquery-2.1.4.min.js')}}"></script>

    <script src="{{asset('js/mfn.menu.js')}}"></script>
    <script src="{{asset('js/jquery.plugins.js')}}"></script>
    <script src="{{asset('js/jquery.jplayer.min.js')}}"></script>
    <script src="{{asset('js/animations/animations.js')}}"></script>
    <script src="{{asset('js/translate3d.js')}}"></script>
    <script src="{{asset('js/scripts.js')}}"></script>
{% endblock %}	
