{% extends "layout.html.twig" %}
{% block content %}
<div id="Header_wrapper">
    <header id="Header">
        <div class="header_placeholder"></div>
        <div id="Top_bar">
            <div class="container">
                <div class="column one">
                    <div class="top_bar_left clearfix">
                        {{ include('nav.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
        <div class="mfn-main-slider" id="mfn-rev-slider">
            <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
                <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.1.5">
                    <ul>
                        <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                            <img src="{{asset('images/ays-gal/slide-001.jpg')}}" alt="" title="home_restaurant2_slider_slide1" width="1920" height="820" data-bgposition="center center" data-kenburns="on" data-duration="5000" data-ease="Linear.easeNone" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
                        </li>
                        <li data-index="rs-2" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                            <img src="{{asset('images/ays-gal/slide-002.jpg')}}" alt="" title="home_restaurant2_slider_slide2" width="1920" height="862" data-bgposition="center center" data-kenburns="on" data-duration="5000" data-ease="Linear.easeNone" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
                        </li>
                        <li data-index="rs-3" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                            <img src="{{asset('images/ays-gal/slide-003.jpg')}}" alt="" title="home_restaurant2_slider_slide3" width="1920" height="862" data-bgposition="center center" data-kenburns="on" data-duration="5000" data-ease="Linear.easeNone" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
                        </li>
                    </ul>
                    <div class="tp-static-layers">
                        <div class="tp-caption   tp-resizeme tp-static-layer" id="slider-1-layer-5" data-x="center" data-hoffset="" data-y="center" data-voffset="-120" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-startslide="0" data-endslide="2" data-frames='[{"delay":200,"speed":700,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5; white-space: nowrap; font-size: 40px; line-height: 30px; font-weight: 700; color: rgba(255, 255, 255, 1.00);text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.61); letter-spacing: 6px;">
                            AGUA &amp; SAL
                        </div>
                        <div class="tp-caption   tp-resizeme tp-static-layer" id="slider-1-layer-3" data-x="center" data-hoffset="" data-y="center" data-voffset="20" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-startslide="0" data-endslide="2" data-frames='[{"delay":260,"speed":700,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap; font-size: 40px; line-height: 58px; font-weight: 400; color: rgba(255, 255, 255, 1.00);text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.61); text-align: center">
                            COCINA LATINOAMÉRICANA DEL MAR
                            <br /> El cebiche es la unión mágica marcada
                            <br /> por la simpleza y la frescura.
                        </div>
                    </div>
                    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                </div>
            </div>
        </div>
    </header>
</div>
<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">
                <div class="section mcb-section no-margin-h no-margin-v" style="padding-top:0px; padding-bottom:0px; background-image:url({{asset('images/home_restaurant2_sectionbg2.jpg')}}; background-repeat:no-repeat; background-position:center top;">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one-second  valign-top clearfix" style="margin-top:-60px">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_image ">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="{{asset('images/ays-gal/pic-001.jpg')}}" alt="Agua & Sal" width="780" height="1200" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-second  valign-top clearfix" style="padding:90px 5% 90px 10%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column  column-margin-20px">
                                    <div class="column_attr clearfix">
                                        <h3>Hemos
                                            <br />
                                            conquistado el paladar de nuestros clientes</h3>
                                        <hr class="no_line" style="margin: 0 auto 15px">
                                        <h6>Pocos platillos simbolizan tan bien el arte y sencillez de la gastronomía Latinoaméricana como el cebiche.</h6>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_button">
                                    <a class="button  button_size_2 button_theme button_js" href="{{url('nosotros')}}"><span class="button_label">ACERCA DE NOSOTROS</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section full-width no-margin-h no-margin-v" style="padding-top:0px; padding-bottom:0px;">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one-third  valign-top clearfix" style="padding:60px 50px 80px">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_image ">
                                    <div class="image_frame image_item no_link scale-with-grid alignright no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="{{asset('images/ays-gal/ays-sello.png')}}" alt="Agua & Sal" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap two-third  valign-top clearfix" style="margin-top:-60px">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_image ">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="{{asset('images/ays-gal/cebiche-peruano.jpg')}}" alt="Agua & Sal" width="1280" height="840" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section no-margin-h no-margin-v" style="padding-top:0px; padding-bottom:260px; background-image:url('{{asset('images/ays-gal/home-bg-001.jpg')}}'); background-repeat:no-repeat; background-position:center top; background-size: 100%">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one-second  column-margin-0px valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_placeholder">
                                    <div class="placeholder">
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-second  valign-top clearfix" style="padding:70px 60px; background-color:#042630; margin-top:-60px">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column ">
                                    <div class="column_attr clearfix">
                                        <h3 style="color: #fff;">Sugerencias del Mes</h3>
                                        <hr class="no_line" style="margin: 0 auto 15px">
                                        <h5 style="color: #fff; position: relative; padding-right: 50px;">CEBICHE PERUANO<span style="position: absolute; top: 0; right: 0;">$215</span></h5>
                                        <p style="color: #fff;">
                                            Pesca del día (150 grs) en leche de tigre clásica, chile habanero, cebolla morada y cilantro acompañado de choclo, cancha y camote con un toque de sal rosada de los Andes peruanos.
                                        </p>
                                        <hr class="no_line" style="margin: 0 auto 15px">
                                        <h5 style="color: #fff; position: relative; padding-right: 50px;">CEBICHE A LA LEÑA<span style="position: absolute; top: 0; right: 0;">$225</span></h5>
                                        <p style="color: #fff;">
                                            Pesca del día y camarón (150 grs) en salsa de chile rayado, cebolla morada, cilantro y chile cuaresmeño acompañado de esquites asados con un toque de sal ahumada de Alderwood.
                                        </p>
                                        <hr class="no_line" style="margin: 0 auto 15px">
                                        <h5 style="color: #fff; position: relative; padding-right: 50px;">CEBICHE TATEMADO<span style="position: absolute; top: 0; right: 0;">$225</span></h5>
                                        <p style="color: #fff;">
                                            Pesca del día, camarón y pulpo (150 grs) en salsa de chile chilhuacle tatemado, yuzu, cebolla cambray, aguacate y rábano sandia con un toque de sal negra de Hawái.
                                        </p>
                                        <hr class="no_line" style="margin: 0 auto 15px">
                                        <h5 style="color: #fff; position: relative; padding-right: 50px;">ESQUITES CON CAMARONES<span style="position: absolute; top: 0; right: 0;">$185</span></h5>
                                        <p style="color: #fff;">
                                            Camarón, mayonesa, epazote, queso Cotija, chile piquín y un toque de limón.
                                        </p>
                                        <hr class="no_line" style="margin: 0 auto 15px">
                                        <h5 style="color: #fff; position: relative; padding-right: 50px;">PESCADO A LA TALLA<span style="position: absolute; top: 0; right: 0;">$325</span></h5>
                                        <p style="color: #fff;">
                                            Pesca del día en adobo de chile guajillo, chile costeño, chile pasilla, ajo y mayonesa acompañado de arroz blanco, plátanos fritos. 
                                        </p>
                                        <hr class="no_line" style="margin: 0 auto 30px;" />
                                        <a class="button  button_full_width button_size_2 button_stroke_custom button_js" href="{{url('menu')}}" style=" border-color:#fff !important; color:#fff;"><span class="button_label">VER MENU</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- -->
                <div class="section mcb-section no-margin-h no-margin-v" style="padding-top:0px; padding-bottom:260px;">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one  column-margin-0px valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one-third column_placeholder">
                                    <div class="column_attr clearfix align_center" style="text-align: center; padding-top: 20px;">
                                        <img src="{{asset('images/ays-gal/ays-sello.png')}}">
                                    </div>
                                </div>
                                <div class="column mcb-column two-third column_placeholder">
                                    <div class="column_attr clearfix align_center">
                                        <h4>En Agua y Sal tenemos el compromiso de servir los mejores pescados y mariscos, respetando las vedas, apoyando siempre la práctica de la pesca sostenible y la conservación del océano.</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- dd -->
                <div class="section mcb-section no-margin-h no-margin-v" style="padding-top:0px; padding-bottom:280px; background-image:url('{{asset('images/ays-gal/pic-002.jpg')}}'); background-repeat:no-repeat; background-position:left bottom;">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one-second  valign-top clearfix" style="padding:70px 60px; background-color:#fff; margin-top:-60px">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column ">
                                    <div class="column_attr clearfix align_center">
                                        <h6 style="letter-spacing: 4px;">AGUA & SAL</h6>
                                        <hr class="no_line" style="margin: 0 auto 15px">
                                        <h4>Elaboramos una carta auténtica con sabores inimaginables, con productos de la mejor y mas alta calidad, siempre cuidando y respetando el sabor de la tradicional gastronomía latinoamericana.</h4>
                                        <hr class="no_line" style="margin: 0 auto 20px;" />
                                        <h5 style="border-top: 1px solid #b2b2b2; border-bottom: 1px solid #b2b2b2; padding: 10px 0;">Lunes a Sábado de 12 pm a 10 pm<br/>
                                Domingos de 12 pm a 6 pm</h5>
                                        <hr class="no_line" style="margin: 0 auto 30px;" />
                                        <a class="button  button_size_2 button_theme button_js" href="{{url('contacto')}}"><span class="button_label">Contáctenos</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-second  valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_image ">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="{{asset('images/ays-gal/pic-003.jpg')}}" alt="Agua & Sal" width="780" height="1000" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
    <script src="{{asset('js/jquery-2.1.4.min.js')}}"></script>

    <script src="{{asset('js/mfn.menu.js')}}"></script>
    <script src="{{asset('js/jquery.plugins.js')}}"></script>
    <script src="{{asset('js/jquery.jplayer.min.js')}}"></script>
    <script src="{{asset('js/animations/animations.js')}}"></script>
    <script src="{{asset('js/translate3d.js')}}"></script>
    <script src="{{asset('js/scripts.js')}}"></script>

    <script src="{{asset('plugins/rs-plugin/js/jquery.themepunch.tools.min.js')}}"></script>
    <script src="{{asset('plugins/rs-plugin/js/jquery.themepunch.revolution.min.js')}}"></script>

    <script src="{{asset('plugins/rs-plugin/js/extensions/revolution.extension.video.min.js')}}"></script>
    <script src="{{asset('plugins/rs-plugin/js/extensions/revolution.extension.slideanims.min.js')}}"></script>
    <script src="{{asset('plugins/rs-plugin/js/extensions/revolution.extension.actions.min.js')}}"></script>
    <script src="{{asset('plugins/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js')}}"></script>
    <script src="{{asset('plugins/rs-plugin/js/extensions/revolution.extension.kenburn.min.js')}}"></script>
    <script src="{{asset('plugins/rs-plugin/js/extensions/revolution.extension.navigation.min.js')}}"></script>
    <script src="{{asset('plugins/rs-plugin/js/extensions/revolution.extension.migration.min.js')}}"></script>
    <script src="{{asset('plugins/rs-plugin/js/extensions/revolution.extension.parallax.min.js')}}"></script>

    <script type="text/javascript">
        var tpj = jQuery;
        var revapi1;
        tpj(document).ready(function() {
            if (tpj("#rev_slider_1_1").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_1_1");
            } else {
                revapi1 = tpj("#rev_slider_1_1").show().revolution({
                    sliderType: "standard",
                    sliderLayout: "auto",
                    dottedOverlay: "none",
                    delay: 4000,
                    navigation: {
                        onHoverStop: "off",
                    },
                    visibilityLevels: [1240, 1024, 778, 480],
                    gridwidth: 1080,
                    gridheight: 800,
                    lazyType: "none",
                    shadow: 0,
                    spinner: "spinner2",
                    stopLoop: "off",
                    stopAfterLoops: -1,
                    stopAtSlide: -1,
                    shuffle: "off",
                    autoHeight: "off",
                    disableProgressBar: "on",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        nextSlideOnWindowFocus: "off",
                        disableFocusListener: false,
                    }
                });
            }
        });
        /*]]>*/
    </script>
{% endblock %}  