{% extends "layout.html.twig" %}
{% block content %}
	<div id="Header_wrapper">
        <header id="Header">
            <div class="header_placeholder"></div>
            <div id="Top_bar">
                <div class="container">
                    <div class="column one">
                        <div class="top_bar_left clearfix">
                            {{ include('nav.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div id="Content">
        <div class="content_wrapper clearfix">
            <div class="sections_group">
                <div class="entry-content">
                    <div class="section mcb-section" style="padding-top:320px; padding-bottom:270px;" data-parallax="3d"><img class="mfn-parallax" src="{{asset('images/ays-gal/cebiche_mandarina.jpg')}}" alt="" style="opacity:0" />
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap one  valign-top clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one-fourth column_placeholder">
                                        <div class="placeholder">
                                            &nbsp;
                                        </div>
                                    </div>
                                    <div class="column mcb-column one-second column_column ">
                                        <div class="column_attr clearfix align_center">
                                            <h2 style="color: #fff;text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.61);">Agua & Sal</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section mcb-section" style="padding-top:110px; padding-bottom:70px; background-image:url('{{asset('images/ays-gal/menu-bg-001.jpg')}}'); background-repeat:no-repeat; background-position:center top;">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap one-fifth  column-margin-0px valign-top clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_placeholder">
                                        <div class="placeholder">
                                            &nbsp;
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap three-fifth  valign-top clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_column">
                                        <div class="column_attr clearfix">
                                            <h2 style="text-align: center;">NUESTRO MENU</h2>
                                            <hr class="no_line" style="margin: 0 auto 10px">
                                            <h3 class="subtitle fancy"><span>CEBICHES</span></h3>
                                            <p style="text-align: center; font-size: 18px;">El cebiche es la unión mágica marcada por la simpleza y la frescura.</p>
                                            <hr class="no_line" style="margin: 0 auto 30px">
                                            <h5 style="position: relative; padding-right: 50px;">CEBICHE CHILANGO <span style="position: absolute; top: 0; right: 0;">$165</span></h5>
                                            <p>
                                                Pesca del día (150 grs), jitomate, cebolla blanca, chile serrano, cilantro, aguacate, salsa bruja y aceite de oliva con un toque de flor de sal de Cuyutlán
                                            </p>
                                            <hr class="no_line" style="margin: 0 auto 15px">
                                            <hr style="margin: 0 auto 25px">
                                            <h5 style="position: relative; padding-right: 50px;">CEBICHE A LA LEÑA<span style="position: absolute; top: 0; right: 0;">$175</span></h5>
                                            <p>
                                                Pesca del día y camarón (150 grs) en salsa de chile rayado, cebolla morada, cilantro y chile cuaresmeño acompañado de esquites asados con un toque de sal ahumada de Alderwood...
                                            </p>
                                            <hr class="no_line" style="margin: 0 auto 15px">
                                            <hr style="margin: 0 auto 25px">
                                            <h5 style="position: relative; padding-right: 50px;">CEBICHE TROPICAL<span style="position: absolute; top: 0; right: 0;">$175</span></h5>
                                            <p>
                                                Camarón (150 grs) y mango en salsa de piña y chile cuaresmeño, cebolla morada, cilantro, cacahuate y aceite de ajonjolí con un toque de sal de Maldon...
                                            </p>
                                            <hr class="no_line" style="margin: 0 auto 30px">
                                            <hr style="margin: 0 auto 25px">
                                            <h5 style="position: relative; padding-right: 50px;">CEBICHE VERDE<span style="position: absolute; top: 0; right: 0;">$165</span></h5>
                                            <p>
                                                Pesca del día (150 grs) en salsa de chile jalapeño y cilantro, jícama, pepino y cebolla morada con un toque de sal de mar de Celestún...
                                            </p>
                                            <hr class="no_line" style="margin: 0 auto 30px">
                                            <hr style="margin: 0 auto 25px">
                                            <h5 style="position: relative; padding-right: 50px;">CEBICHE PERUANO<span style="position: absolute; top: 0; right: 0;">$165</span></h5>
                                            <p>
                                                Pesca del día (150 grs) en leche de tigre clásica, chile habanero, cebolla morada y cilantro acompañado de choclo, cancha y camote con un toque de sal rosada de los Andes peruanos...
                                            </p>
                                        </div>
                                    </div>
                                    <div class="column mcb-column one column_divider ">
                                        <hr class="no_line" style="margin: 0 auto 40px">
                                    </div>
                                    <div class="column mcb-column one column_column">
                                        <div class="column_attr clearfix">
                                            <h3 class="subtitle fancy"><span>RAW BAR</span></h3>
                                            <hr class="no_line" style="margin: 0 auto 10px">
                                            <h6 style="text-align: center;">Disponible de Jueves a Domingo</h6>
                                            <hr class="no_line" style="margin: 0 auto 30px">
                                            <h5 style="position: relative; padding-right: 50px;">ALMEJA CHOCOLATA <span style="position: absolute; top: 0; right: 0;"></span></h5>
                                            <h5 style="position: relative; padding-right: 50px;"><span style="position: absolute; top: 0; right: 0;">$35</span></h5>
                                            <p>
                                                (1 pza)...
                                            </p>
                                            <h5 style="position: relative; padding-right: 50px;"><span style="position: absolute; top: 0; right: 0;">$210</span></h5>
                                            <p>
                                                (6 pzs)...
                                            </p>
                                            <h5 style="position: relative; padding-right: 50px;"><span style="position: absolute; top: 0; right: 0;">$420</span></h5>
                                            <p>
                                                (12 pzs)... 
                                            </p>
                                            <hr class="no_line" style="margin: 0 auto 15px">
                                            <hr style="margin: 0 auto 25px">
                                            <h5 style="position: relative; padding-right: 50px;">OSTIÓN DEL PACIFICO <span style="position: absolute; top: 0; right: 0;"></span></h5>
                                            <h5 style="position: relative; padding-right: 50px;"><span style="position: absolute; top: 0; right: 0;">$30</span></h5>
                                            <p>
                                                (1 pza)...
                                            </p>
                                            <h5 style="position: relative; padding-right: 50px;"><span style="position: absolute; top: 0; right: 0;">$180</span></h5>
                                            <p>
                                                (6 pzs)...
                                            </p>
                                            <h5 style="position: relative; padding-right: 50px;"><span style="position: absolute; top: 0; right: 0;">$360</span></h5>
                                            <p>
                                                (12 pzs)... 
                                            </p>
                                            <hr class="no_line" style="margin: 0 auto 15px">
                                            <hr style="margin: 0 auto 25px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
	<script src="{{asset('js/jquery-2.1.4.min.js')}}"></script>

    <script src="{{asset('js/mfn.menu.js')}}"></script>
    <script src="{{asset('js/jquery.plugins.js')}}"></script>
    <script src="{{asset('js/jquery.jplayer.min.js')}}"></script>
    <script src="{{asset('js/animations/animations.js')}}"></script>
    <script src="{{asset('js/translate3d.js')}}"></script>
    <script src="{{asset('js/scripts.js')}}"></script>
{% endblock %}