<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 "> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Cocina Latina del Mar - Agua & Sal</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicons -->
    <link rel="shortcut icon" href="{{asset('images/ays-gal/ays-icon.png')}}">

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700" rel="stylesheet">

    <!-- CSS -->
    <link rel='stylesheet' href="{{asset('css/global.css')}}">
    <link rel='stylesheet' href="{{asset('css/structure.css')}}">
    <link rel='stylesheet' href="{{asset('css/restaurant2.css')}}">
    <link rel='stylesheet' href="{{asset('css/custom.css')}}">

    <!-- Revolution Slider -->
    <link rel="stylesheet" href="{{asset('plugins/rs-plugin/css/settings.css')}}">

</head>

<body class="home page template-slider color-custom style-default layout-full-width nice-scroll-on button-stroke no-content-padding no-shadows header-split minimalist-header-no sticky-header sticky-tb-color ab-hide subheader-both-center menuo-no-borders footer-copy-center mobile-tb-left mobile-side-slide mobile-mini-mr-lc mobile-header-mini mobile-sticky">
    <div id="Wrapper">
        {%  block content %}    
        {% endblock %}
        <footer id="Footer" class="clearfix">
            <div class="widgets_wrapper" style="padding:120px 0 105px;">
                <div class="container">

                    <div class="column one-third">
                        <aside id="text-2" class="widget widget_text">
                            <div class="textwidget">
                                <div style="padding-right: 20%;">
                                    <h4>Ubicación</h4>
                                    <div style="width: 30%; height: 1px; background: #b2b2b2;"></div>
                                    <hr class="no_line" style="margin: 0 auto 15px">
                                    <p>
                                        Agua & Sal | Cebichería<br/>
                                        Campos Elíseos 199-A<br/>
                                        Miguel Hidalgo
                                    </p>
                                </div>
                            </div>
                        </aside>
                    </div>

                    <div class="column one-third">
                        <aside id="text-3" class="widget widget_text">
                            <div class="textwidget">
                                <div style="padding-right: 20%;">
                                    <h4>Contacto</h4>
                                    <div style="width: 30%; height: 1px; background: #b2b2b2;"></div>
                                    <hr class="no_line" style="margin: 0 auto 15px">
                                    <p>
                                        Agua y Sal es una Cebichería de cocina latinoamericana que rinde un homenaje a los pueblos de pescadores de México, Centro, Sudamérica y el Caribe.
                                    </p>
                                    <p style="margin-bottom: 0px;">
                                        (55) 5282 2746 y (55) 5280 9520
                                    </p>
                                    <p style="word-wrap: break-word;">
                                        <a href="mailto:contacto@aguaysal.com.mx">contacto@aguaysal.com.mx</a>
                                    </p>
                                </div>
                            </div>
                        </aside>
                    </div>
                    <div class="column one-third">
                        <aside id="text-4" class="widget widget_text">
                            <div class="textwidget">
                                <div style="padding-left: 20%; text-align: right;">
                                    <h4>Horario de Servicio</h4>
                                    <div style="width: 30%; display: block; float: right; height: 1px; background: #b2b2b2;"></div>
                                    <hr class="no_line" style="margin: 0 auto 15px">
                                    <p>
                                        Lunes a Sábado de 12 pm a 10 pm<br/>
                                        Domingos de 12 pm a 6 pm
                                    </p>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
            <div class="footer_copy">
                <div class="container">
                    <div class="column one">
                        <div class="copyright">
                            &copy; 2017 Agua & Sal | Cebichería - Designed by <a target="_blank" href="http://warptech.mx">warptech.mx</a>
                        </div>
                        <ul class="social"></ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Side Menu -->
    <div id="Side_slide" class="right dark">
        <div class="close-wrapper">
            <a href="#" class="close"><i class="icon-cancel-fine"></i></a>
        </div>
        <div class="menu_wrapper"></div>
    </div>
    <div id="body_overlay"></div>

    <!-- JS -->
    {% block js %}
    {% endblock %}
    <script id="mfn-dnmc-retina-js">
        jQuery(window).load(function() {
            var retina = window.devicePixelRatio > 1 ? true : false;
            if (retina) {
                var retinaEl = jQuery("#logo img.logo-main");
                var retinaLogoW = retinaEl.width();
                var retinaLogoH = retinaEl.height();
                retinaEl.attr("src", "{{asset('images/retina-restaurant2.png')}}").width(retinaLogoW).height(retinaLogoH);
                var stickyEl = jQuery("#logo img.logo-sticky");
                var stickyLogoW = stickyEl.width();
                var stickyLogoH = stickyEl.height();
                stickyEl.attr("src", "{{asset('images/retina-restaurant2.png')}}").width(stickyLogoW).height(stickyLogoH);
                var mobileEl = jQuery("#logo img.logo-mobile");
                var mobileLogoW = mobileEl.width();
                var mobileLogoH = mobileEl.height();
                mobileEl.attr("src", "{{asset('images/retina-restaurant2.png')}}").width(mobileLogoW).height(mobileLogoH);
                var mobileStickyEl = jQuery("#logo img.logo-mobile-sticky");
                var mobileStickyLogoW = mobileStickyEl.width();
                var mobileStickyLogoH = mobileStickyEl.height();
                mobileStickyEl.attr("src", "{{asset('images/retina-restaurant2.png')}}").width(mobileStickyLogoW).height(mobileStickyLogoH);
            }
        });
    </script>
</body>

</html>